@media screen and (max-width: 450px){
    .corp{
        display: none;
    }
    #numb{
        transform: translate(20px,90px);
    }
    #hand {
        display: none;
    }
    #whatimg {
        transform: translate(140px, -35px);
    }
    .pot {
        width: 130px;
        display: flex;
        transform: translate(230px,-80px);
    }
    section#container-2.border-2.row {
        transform: translateY(-70px);
    }
    #copycopy {
        padding: 12px 0px;
    }
    button#cor {
        transform: translate(250px,-80px);
    }
    #quality {
        font-size: 45px;
    }
    #searchIcon {
        transform: translate(-40px, -8px);
    }
    #popularproducts {
        transform: translateY(-70px);
    }
    #popu {
        font-size: 15px;
        transform: translateY(27px);
    }
    #seeall {
        font-size: 15px;
    }
}